@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400, 700;
  src: local("Cormorant"),
    local("Cormorant Infant")
      url("https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Infant:ital,wght@0,700;1,400&display=swap");
}

body {
  font-family: Cormorant, Cormorant Infant, sans-serif;
}

.my-navbar {
  background-color: #ffd3b5;
  font-size: xx-large;
}

.icon {
  height: 45px;
}

.nav-text {
  font-size: 1.1rem;
  cursor: pointer;
}

.register-container {
  max-width: 40%;
  /* padding-right: 20%; */
  /* justify-content: end; */
}

.font-bold {
  font-weight: bold;
}
